h1 {
    margin-left: 45px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-left: 25px;
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap:2rem
}

.cancleBtn .submitBtn {
    flex: 1;
    margin: 5px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.cancleBtn{
    background-color: #726f71;
    color: white;
}

.cancleBtn:hover {
    background-color: #333;
}

.submitBtn{
    background-color: #715253;
    color: #ffff00;
}

.submitBtn:hover{
    color: #715253;
    background-color: #ffff00;
    font-weight: bolder;
}
