<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form action="/userPwChange" method="post">
<!--    <label>username:</label><br>-->
<!--    <input type="text" name="username"><br>-->
    <label>Password:</label><br>
    <input type="password" name="password"><br>
    <label>newPassword:</label><br>
    <input type="password" name="newPassword"><br>
    <label>confirmNewPassword:</label><br>
    <input type="password" name="confirmNewPassword"><br><br>
    <button type="submit">비밀번호 변경</button>
</form>
</body>
</html>