<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project3 메인페이지 바로가기 메뉴</title>
</head>
<body>

<h2>배포 화면</h2>
<form action="/react" method="get">
    <button type="submit">메인 화면</button>
</form>
<br>

<hr>
<h2> 개발 화면</h2>
<form action="/dev" method="get">
    <button type="submit">개발용</button>
</form>
<br>
<form action="/flask" method="get">
    <button type="submit">flask 테스트용</button>
</form>
<br>
<form action="/index" method="get">
    <button type="submit">exporess 테스트용</button>
</form>


</body>
</html>