<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/userCreate" method="post">
    <label for="data">id:</label><br>
    <input type="text" id="data" name="userId"><br>

    <label for="data">name:</label><br>
    <input type="text" id="data" name="userName"><br>

    <label for="data">password:</label><br>
    <input type="password" id="data" name="userPw"><br>

    <label for="data">password 확인:</label><br>
    <input type="password" id="data" name="userPwConfirm"><br>

    <button type="submit">회원가입</button>
</form>
</body>
</html>