<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<form action="/userPwChange" method="get">
    <button type="submit">암호변경</button>
</form>
<br>
<form action="/userDelete" method="get">
    <button type="submit">회원탈퇴</button>
</form>

</body>
</html>