<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<form action="/postCreate" method="get">
    <button type="submit">글쓰기</button>
</form>
<br>
<form action="/postRead" method="get">
    <button type="submit">게시글 조회</button>
</form>
<br>
<form action="/myPage" method="get">
    <button type="submit">마이페이지</button>
</form>
<br>
<form action="/postMain" method="post">
    <button type="submit">로그아웃</button>
</form>

</body>
</html>