<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>글쓰기</h1>
<form action="/postCreate" method="post">
    <label>contentID:</label><br>
    <input type="text" id="title" name="id"><br>
    <label>title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label>content:</label><br>
    <textarea id="content" name="content"></textarea>
    <button type="submit">글쓰기</button>
</form>

</body>
</html>
