<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form action="/userDelete" method="post">
    <!--    <label>username:</label><br>-->
    <!--    <input type="text" name="username"><br>-->
    <label>Password:</label><br>
    <input type="password" name="password"><br>
    <label>confirmPassword:</label><br>
    <input type="password" name="confirmPassword"><br><br>
    <button type="submit">회원탈퇴</button>
</form>
</body>
</html>